.git
.github
.cursor

**/node_modules
**/dist
**/coverage
**/.turbo
**/.vite

frontend/test-results
frontend/playwright-report
frontend/e2e
frontend/.env*

backend/.env*
backend/test

api-contract/node_modules

.DS_Store
*.log
